*.ash_history
*.bash_history
*.bashrc                                    
small+FileSystem/var/cache/apk/
small+FileSystem/home/.npm
small+FileSystem/home/.node_repl_history
small+FileSystem/bin/password.txt
small+FileSystem/bin/token.txt
small+FileSystem/home/.viminfo

